<!-- Page title -->
<h1 class="text-center">Welcome to Workout Tracker</h1>

<!-- Short description below the title -->
<p class="text-center">Log and manage your fitness journey easily.</p>

<!-- If the user is logged in, show a button to go to their dashboard -->
{{#if user}}
  <div class="text-center mt-4">
    <a class="btn btn-primary" href="/workouts">Go to Dashboard</a>
  </div>

<!-- If the user is not logged in, show a button to register -->
{{else}}
  <div class="text-center mt-4">
    <a class="btn btn-success" href="/auth/register">Get Started</a>
  </div>
{{/if}}
